/* css styles */
h3 {
  color: purple;
}

#videotag {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
video {
  width: 100%;
  height: 90%;
}
audio {
  display: none;
}

.input-overlay {
  position: relative;
  top: 10px; /* Adjust this to control where the input appears */
  left: 50%;
  transform: translateX(-50%); /* Centers the input horizontally */
  z-index: 10; /* Ensures the input stays above the video */
}

.progressbar {
  width: 100%;
}
